---
import {
  CollectionEntry,
  getCollection,
  getEntry,
  render,
} from 'astro:content';
import Default from '../../components/layouts/Default.astro';
import Container from '../../components/base/Container.astro';
import { Icon } from 'astro-icon/components';

interface Props {
  doc: CollectionEntry<'docs'>;
}

export async function getStaticPaths() {
  const docs = await getCollection('docs');
  return docs.map((doc) => ({
    params: { slug: doc.id },
    props: { doc },
  }));
}

const { doc } = Astro.props;
const { Content } = await render(doc);
const parent = doc.data.parent?.id ? await getEntry(doc.data.parent) : null;
---

<Default title={doc.data.title} titleAppend>
  <Container class="py-16 space-y-6">
    <nav class="flex items-center gap-2 max-w-prose mx-auto flex-wrap">
      <a href="/panduan" class="text-gray-500">Panduan</a>
      <Icon name="tabler:chevron-right" class="text-gray-500" />
      {
        parent && (
          <>
            <a href={`/panduan/${parent.id}`} class="text-gray-500">
              {parent.data.title}
            </a>
            <Icon name="tabler:chevron-right" class="text-gray-500" />
          </>
        )
      }
      <span class="text-gray-700">{doc.data.title}</span>
    </nav>

    <article class="prose mx-auto">
      <h1>{doc.data.title}</h1>

      <Content />
    </article>
  </Container>
</Default>
