---
import Default from '../components/layouts/Default.astro';
import Hero from '../assets/hero.jpg';
import { Image } from 'astro:assets';

const features = [
  {
    name: 'Pengelolaan Stok Lengkap',
    description:
      'Kelola stok barang, stok opname, riwayat pergerakan stok, restok ke supplier, dan peringatan stok menipis',
  },
  {
    name: 'Penjualan Barang',
    description:
      'Jual barang ke customer, lengkap dengan diskon, scan barcode, perhitungan total, metode pembayaran, dan cetak struk',
  },
  {
    name: 'Shift Kasir dan Uang Kas',
    description:
      'Pantau kinerja kasir dengan melihat riwayat shift dan pergerakan uang kas pada saat shift kasir',
  },
  {
    name: 'Laporan Lengkap',
    description:
      'Otomatis pembuatan laporan penjualan, stok, shift, pengeluaran, laba dan bisa diatur periodenya',
  },
  {
    name: 'Perhitungan HPP Otomatis',
    description:
      'Aplikasi mampu menghitung HPP barang otomatis dengan metode average (rata-rata) yang berubah setiap restok barang',
  },
  {
    name: 'Perhitungan Laba dan Margin',
    description:
      'Aplikasi dapat menghitung laba dan margin toko otomatis secara lengkap dan akurat per bulan',
  },
];
const prices = [
  {
    name: 'Basic',
    description: 'Semua fitur lengkap',
    price: 'Rp 59.000',
    features: [
      'Semua Fitur',
      'Gratis Domain',
      'Gratis Hosting',
      'Gratis Support',
    ],
  },
  {
    name: 'Custom',
    description: 'Semua fitur + custom fitur',
    price: 'Custom',
    features: [
      'Semua Fitur',
      'Gratis Domain',
      'Gratis Hosting',
      'Gratis Support',
      'Gratis Maintenance',
      'Custom Fitur',
      'Custom Tampilan',
      'Harga Fleksibel',
    ],
  },
];
---

<Default>
  <header>
    <p>Solusi Untuk Toko dan Minimarket</p>
    <h1>
      Aplikasi Kasir Digital Untuk Kelola Toko dan Minimarket Jadi Lebih Mudah
    </h1>
    <p>
      Openpos siap menjadi alat digital untuk membantu anda dalam mengelola toko
      anda menjadi lebih mudah, seperti stok, penjualan, hingga laporan laba
      lengkap dan otomatis.
    </p>
    <div>
      <a href="/try">Coba Sekarang</a>
      <a href="/demo">Lihat Demo</a>
    </div>
    <Image src={Hero} alt="Tampilan Aplikasi Kasir Openpos" />
  </header>

  <section>
    <h1>Fitur Pengelolaan Toko Lengkap</h1>
    <p>
      Dapat mempermudah operasional toko dan meningkatkan keakuratan data stok,
      laporan, dst.
    </p>
    <div>
      {
        features.map((feature) => (
          <article>
            <h2>{feature.name}</h2>
            <p>{feature.description}</p>
          </article>
        ))
      }
    </div>
  </section>

  <section>
    <h1>Daftar Harga</h1>
    <p>Harga murah dan fleksibel untuk apliakasi kasir lengkap</p>
    <div>
      {
        prices.map((price) => (
          <article>
            <h2>{price.name}</h2>
            <p>{price.description}</p>
            <p>{price.price}</p>
            <ul>
              {price.features.map((feature) => (
                <li>{feature}</li>
              ))}
            </ul>
            <a href="/checkout">Coba Sekarang</a>
          </article>
        ))
      }
    </div>
  </section>
</Default>
